@import 'variables.scss';
@import 'mixins.scss';

button {
  background: #ccc;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  color: #111;
  font-family: 'Puritan', sans-serif;
  font-size: 20px;
  padding: 15px;
  margin: 5px;
}

.button1 {
  transition: background 0.3s ease;
  &:hover, &:focus {
    background: $button-background-color;
    color: $button-hover-text;
  }
}

.button2 {
  transition: background 1s ease;
  &:hover, &:focus {
    background: $button-background-color;
    color: $button-hover-text;
  }
}

.button3 {
  transition: background 0.3s ease 0.5s, color 0.3s ease 0.5s;
  &:hover, &:focus {
    background: $button-background-color;
    color: $button-hover-text;
  }
}

.button4 {
  transition: background 0.5s ease, color 0.5s linear;
  &:hover {
    background: $button-background-color;
    color: #fe29b5;
  }
}

.button5 {
  position: relative;
  transform: translateZ(0);
  transition: color 0.3s ease;
  &:hover, &:focus, &:active {
    color: $button-hover-text;
    &:before {
      transform: scaleX(1);
    }
  }
}

.button5:before {
  @include position-absolute;
  background: $button-background-color;
  border-radius: 5px;
  content: "";
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform 0.3s ease-out;
  z-index: -1;
}

.button6 {
  position: relative;
  transform: translateZ(0);
  transition: color 0.3s ease;
  &:hover, &:focus, &:active {
    color: $button-hover-text;
    &:before {
      transform: scaleX(1);
    }
  }
}

.button6:before {
  @include position-absolute;
  background: $button-background-color;
  border-radius: 5px;
  content: "";
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform 0.3s ease-out;
  z-index: -1;
}

.button7 {
  position: relative;
  transform: translateZ(0);
  transition: color 0.3s ease;
  &:hover, &:focus, &:active {
    color: $button-hover-text;
    &:before {
      transform: scaleX(1);
    }
  }
}

.button7:before {
  @include position-absolute;
  background: $button-background-color;
  border-radius: 5px;
  content: "";
  transform: scaleX(0);
  transform-origin: 50% 0;
  transition: transform 0.3s ease-out;
  z-index: -1;
}

.button8 {
  position: relative;
  transform: translateZ(0);
  transition: color 0.3s ease;
  &:hover, &:focus, &:active {
    color: $button-hover-text;
    &:before {
      transform: scaleY(1);
    }
  }
}

.button8:before {
  @include position-absolute;
  background: $button-background-color;
  border-radius: 5px;
  content: "";
  transform: scaleY(0);
  transform-origin: 100% 0;
  transition: transform 0.3s ease-out;
  z-index: -1;
}

.button9 {
  position: relative;
  transform: translateZ(0);
  transition: color 0.3s ease;
  &:hover, &:focus, &:active {
    color: $button-hover-text;
    &:before {
      transform: scaleY(1);
    }
  }
}

.button9:before {
  @include position-absolute;
  background: $button-background-color;
  border-radius: 5px;
  content: "";
  transform: scaleY(0);
  transform-origin: 0 100%;
  transition: transform 0.3s ease-out;
  z-index: -1;
}
